@font-face {
    font-familly: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("/font/Roboto-Regular.ttf");
}


/* modena override. */
.root {
    -fx-base: black;
    -fx-background: white;
}

.button, .toggle-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
}

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 1 0 1 0;
}

.scroll-bar:vertical {
    -fx-background-color: transparent; 
    -fx-background-insets: 0, 0 1 0 1;
}

.scroll-bar:focused {
    -fx-background-color: transparent;
}

.scroll-bar:vertical:focused {
    -fx-background-color: transparent;
}

.scroll-bar > .thumb {
    -fx-background-color: lightgrey;
    -fx-background-insets: 2, 3, 4;
    -fx-background-radius: 0;
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: lightgrey;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0
}

.scroll-bar:horizontal > .increment-button,
.scroll-bar:horizontal > .decrement-button {
    -fx-background-insets: 0;
}

.scroll-bar:vertical > .increment-button,
.scroll-bar:vertical > .decrement-button {
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0px;
    -fx-text-box-border: transparent;
}

.text-field:focused {
    -fx-focus-color: transparent;
}

.scroll-pane {
    -fx-background-color: white;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-text-box-border: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0px;
    -fx-focus-color: transparent;
}

.scroll-pane:focused {
    -fx-background-insets: 0px;
    -fx-focus-color: transparent;
}

/*
 * Root.
 */
.peel-root {
    -fx-font-family: Roboto;
    -fx-background-insets: 0;
    -fx-padding: 0px;
}


/*
 * Library view.
 */
.peel-library {
    -fx-background-color: white;
}
 
/* search bar view. */
.peel-library-search-bar {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: grey;
    -fx-padding: 1em;
    -fx-font-size: 1.5em;
}

.peel-library-search-bar-type {
    -fx-text-fill: grey;
}

.peel-library-search-bar-icon {
    -fx-padding: 0 0.5em 0 0;
}

.peel-library-search-bar-icon .svg-path {
    -fx-fill: black;
}

.peel-library-search-bar-type:hover {
    -fx-text-fill: black;
}

.peel-library-search-bar-clear .svg-path {
    -fx-fill: grey;
}

.peel-library-search-bar-clear:hover .svg-path {
    -fx-fill: black;
}

/* artists view. */
.peel-library-artists {
    -fx-background-color: white;
    -fx-padding: 0.5em;
}

.peel-library-artist-index {
    -fx-font-size: 1.5em;
    -fx-text-fill: black;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: black;
    -fx-padding: 0.5em 0 0.5em 0.5em;
    -fx-border-insets: 5px 0px 5px 0px;
}

.peel-library-artist {
    -fx-padding: 0.5em 0 0.5em 1em;
}

.peel-library-artist-name {
    -fx-text-fill: grey;
    -fx-font-size: 1.166667em;
}

.peel-library-artist:hover .peel-library-artist-name { 
    -fx-text-fill: black;
} 

/* albums view. */
.peel-library-albums {
    -fx-background-color: white;
    -fx-padding: 0.5em;
}

/* album view. */
.peel-library-album {
    -fx-padding: 0.5em 1em 0.5em 1em;
    -fx-border-width: 1px;
    -fx-border-color: lightgrey;
    -fx-border-insets: 1em;
}

.peel-library-album:expanded, .peel-library-album:hover {
    -fx-border-color: black;
}

.peel-library-album:expanded .label, .peel-library-album:hover .label {
    -fx-text-fill: black;
}

.peel-library-album .label {
    -fx-font-size: 1.166667em;
    -fx-text-fill: grey;
    -fx-padding: 0.5em 0 0.5em 0;
    -fx-text-overrun: center-word-ellipsis;
}

.peel-library-play-now,
.peel-library-play-next,
.peel-library-play-last {
    -fx-font-size: 1em;
    -fx-text-fill: lightgrey;
}

.peel-library-play-now .text,
.peel-library-play-next .text,
.peel-library-play-last .text {
    -fx-translate-x: -5;
}

.peel-library-play-now .svg-path,
.peel-library-play-next .svg-path,
.peel-library-play-last .svg-path,
.peel-library-album-toggle .svg-path {
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
    -fx-fill: lightgrey;
}

.peel-library-play-now:hover,
.peel-library-play-next:hover,
.peel-library-play-last:hover,
.peel-library-album-toggle:hover {
    -fx-text-fill: black;
}

.peel-library-play-now:hover .svg-path,
.peel-library-play-next:hover .svg-path,
.peel-library-play-last:hover .svg-path,
.peel-library-album-toggle:hover .svg-path {
    -fx-fill: black;
}

.peel-library-album-controls {
    -fx-padding: 0.5em 0 0 0;
    -fx-border-insets: 0.5em 0 0 0;
    -fx-border-width: 1px 0px 0px 0px;
    -fx-border-color: lightgrey;
    -fx-spacing: 0.5em;
}

.peel-library-album-tracks {
    -fx-padding: 1em 0 0 0;
}

.peel-library-album-track {
    -fx-padding: 0.25em 0 0.25em 0;
}

.peel-library-album-track .peel-library-album-track-name {
    -fx-font-size: 1em;
    -fx-text-fill: black;
    -fx-padding: 0;
}

/*
 * Player view.
 */
 .peel-player {
    -fx-background-color: white;
    -fx-border-width: 0px 0px 0px 1px;
    -fx-border-color: grey;
}
 
 
/* current track view. */
.peel-player-current {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: grey;
    -fx-padding: 1em 0 1em 0;
}

.peel-player-current .peel-player-current-track-name {
    -fx-font-size: 2em;
    -fx-text-fill: black;
    -fx-padding: 0;
}

.peel-player-current .peel-player-current-album-artist {
    -fx-font-size: 1.25em;
    -fx-text-fill: grey;
    -fx-padding: 1em 0 0 0;
}

/* player controls. */
.peel-player-controls {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: grey;
    -fx-padding: 0.5em 0 0.5em 0;
}

/* devices view. */
.peel-player-devices {
    -fx-padding: 0;
    -fx-border-width: 1px;
    -fx-border-color: darkgrey;
    -fx-background-color: white;
}

.peel-player-devices-title .label, .peel-player-devices-device .label {
    -fx-text-fill: grey;
    -fx-font-size: 1em;
}

.peel-player-devices-title:disabled, .peel-player-devices-title:disabled:hover {
    -fx-opacity: 1.0;
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: darkgrey;
}

.peel-player-devices-device:checked > .left-container > .check {
    -fx-background-color: grey;
    -fx-shape: "M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z";
    -fx-scale-shape: false;
}

.peel-player-devices-device:hover, .peel-player-devices-device:focused {
    -fx-background-color: lightgrey;
}

/* connection view. */
.peel-player-connection {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-padding: 0.5em;
}

.peel-player-connection .svg-path,
.peel-player-playpause .svg-path,
.peel-player-stop .svg-path {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.peel-player-connection:error .svg-path {
    -fx-fill: orange;
}

.peel-player-controls-current {
    -fx-padding: 0 0 0.5em 0;
}

/* player queue view. */
.peel-player-queue-track {
    -fx-padding: 0.5em;
}

.peel-player-queue-track:odd {
    -fx-background-color: whitesmoke;
}

.peel-player-queue-track-name {
    -fx-text-fill: grey;
    -fx-font-size: 1.16667em;
    -fx-padding: 0 0 0.25em 0;
}

.peel-player-queue-track-album-artist {
    -fx-text-fill: darkgrey;
    -fx-font-size: 1em;
}

.peel-player-queue-track:past .peel-player-queue-track-name,
.peel-player-queue-track:past .peel-player-queue-track-album-artist {
    -fx-text-fill: lightgrey;
}

.peel-player-queue-track-remove {
    -fx-padding: 0 0 0 0.25em;
}

.peel-player-queue-track-play .svg-path,
.peel-player-queue-track-remove .svg-path {
    -fx-fill: lightgrey;
    -fx-scale-x: 0.75;
    -fx-scale-y: 0.75;
}

.peel-player-queue-track-play:hover .svg-path,
.peel-player-queue-track-remove:hover .svg-path {
    -fx-fill: black;
}
